
/* CSS reset*/ 
* { padding:0; margin:0;
    font-family: Arial }


header{
    width:21%;
    padding :10px;
    float:right;
    height:100px;
}
header ul{
    margin-left:150px;
    list-style: none;
    display: flex;
}

header ul li{
    margin: 10px 10px;
    font-size: 13px;

}
#sign-in{
    background-color: #4387fd;
    color:white;
    font-weight: bold;
    text-align: center;
    padding:7px;
    width: 60px;
    
}

#middle-page{
    position:absolute;
    top:20%;
    left:43%;
   height:200px;
   width:800px;
   
}

#search-bar{
   margin: 0 auto;
   position:absolute;
   top:130px;
   right:355px;
   width:570px;
   height:40px;
   border-radius: 20px;
   border-style: solid;
   padding-left: 30px;
}

.button{
    
    height:40px;
    padding:0 10px;
    margin:10px;
    margin-top:100px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #576368;
    border-radius:5px;
}
h6{
    font-size:13px;
    font-weight: lighter;
    margin-top:21px;
    margin-left:55px;
}